.showcase_1 {
    width: 100%;
    display: inline-grid;
    column-gap: 2%;
    row-gap: 10px;
    grid-template-rows: min-content;
    grid-template-columns: 59% 39%;
    grid-template-areas:    "glanceText     mediaShowcase"
                            "detailedText   mediaShowcase"
                            "bottomText     mediaShowcase";
}
@media only screen and (max-width: 600px) {
    .showcase_1 {
        grid-template-columns: auto;
        grid-template-areas:    "glanceText"
                                "mediaShowcase"
                                "detailedText"
                                "bottomText";
    }
}

.showcase_glance {
    grid-area: glanceText;
    width: 100%;
    height: min-content;
    margin: 0;
}

/*============================================================*/

.showcase_mediagroup {
    grid-area: mediaShowcase;
    align-self: start; /* Key line */
    position: relative;
    width: 100%;
    min-width: 0;
    max-height: 100%;
}
.showcase_mediagroup > .showcase_image img,
.showcase_mediagroup > .showcase_image iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    cursor: pointer;
    border: 0;
}
.showcase_mediagroup > .showcase_image:not(.noHover) img:hover,
.showcase_mediagroup > .showcase_image:not(.noHover) iframe:hover {
    outline: 2px;
    outline-offset: -2px;
    outline-color: #000000;
    outline-style: solid;
    
    filter: invert(0.1);
}




.slideRow {
    width: 100%;
    max-width: 100%;
    height: 2.5cm;
    display: flex;
    overflow: hidden;

    overflow-x: auto;
}
.slideRow > div {
    height: 100%;
    width: min-content;
}
.slideRow_img {
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    cursor: pointer;
}
.slideRow_img:hover,
.slideRow_img.selected {
    outline: 3px;
    outline-offset: -4px;
    outline-color: #ffffff;
    outline-style: solid;

    filter: invert(0.1);
}


.showcase_mediagroup > .prev,
.showcase_mediagroup > .next {
    position: absolute;
    top: calc(25%);
    padding: 0.6cm 0.4cm;

    cursor: pointer;
    background-color: #000000a0;
    color: #ffffff;

    user-select: none;
    -webkit-user-select: none;
}
.showcase_mediagroup > .next {
    right: 0;
}

.showcase_mediagroup:hover > .prev,
.showcase_mediagroup:hover > .next {
    display: inline;
}


/*============================================================*/

.showcase_text {
    grid-area: detailedText;
    width: 100%;
    height: min-content;
    margin: 0;
}
.showcase_text p {
    margin: 0;
}

/*============================================================*/
/*============================================================*/
/*============================================================*/

.imageBigContainer {
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: auto;

    z-index: 100;
}
.imageBigContainer > * {
    max-width: 95%;
}
.imageBigContainer img,
.imageBigContainer iframe {
    width: 100%;
}

/*============================================================*/
/*============================================================*/
/*============================================================*/

.showcase_2 {
    width: 100%;
    display: inline-grid;
    column-gap: 2%;
    row-gap: 10px;
    grid-template-rows: min-content;
    grid-template-columns: 49% 49%;
}
@media only screen and (max-width: 600px) {
    .showcase_2 {
        grid-template-columns: 100%;
    }
}

.showcase_tile {
    padding: 0.1cm;
    border-radius: 0.1cm;
    background-color: #eeeeee;
    height: 100%;

    cursor: pointer;
        
    transition-duration: 0.15s;
}
.darkmode .showcase_tile {
    background-color: #292929;
}

.showcase_tile > img {
    width: 100%;
    margin: 0;
    padding: 0;
}
.showcase_tile h3,
.showcase_tile > p {
    font-size: 0.9rem;
}
.showcase_tile h3 {
    text-decoration: none;
    
    text-decoration-skip-ink: none;
    text-underline-offset: 0cm;
}

.showcase_tile:hover {
    background-color: #c9c9c9;
}
.darkmode .showcase_tile:hover {
    background-color: #3b3b3b;
}
.showcase_tile:hover h3 {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.05cm; 
    
    font-weight: bold;
    color: #000000;
}

.darkmode .showcase_tile:hover h3 {
    color: #c7c7c7;
}